Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME.

Ans:

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\jijopinks\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\jijopinks\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [7]:
import mysql.connector as conn
mydb = conn.connect(host = 'localhost',user = 'root' ,passwd = "mysql" )
mydb
cursor = mydb.cursor()
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testpaarth',),
 ('testpinks',),
 ('testsudh',)]

In [8]:
cursor.execute('use testpinks')

In [9]:
cursor.execute('create table testpinks.Worker(Emp_Id INT(10), FIRST_NAME VARCHAR(30), LAST_NAME VARCHAR(30), DEPARTMENT VARCHAR(30))')

In [10]:
cursor.execute('use testpinks')

In [11]:
cursor.execute('show tables')

In [12]:
cursor.fetchall()

[('glassdata',), ('practice',), ('worker',)]

In [13]:
cursor.execute('insert into testpinks.worker values(1111, "Rajan", "Das","grasscutter")')

In [14]:
cursor.execute('insert into testpinks.worker values(2222, "Ram", "AAaa","plumber")')

In [15]:
cursor.execute('insert into testpinks.worker values(3333, "John", "Kuy","plumber")')

In [ ]:
cursor.execute('insert into testpinks.worker values(4444, "karan", "Ras","plumber")')

In [16]:
cursor.execute('insert into testpinks.worker values(5555, "Romaa", "Das","plumber")')

In [17]:
cursor.execute('insert into testpinks.worker values(6666, "Christo", "Pam","grasscutter")')

In [18]:
mydb.commit()

In [19]:
cursor.execute('select * from testpinks.worker')

In [20]:
cursor.fetchall()

[(1111, 'Rajan', 'Das', 'grasscutter'),
 (2222, 'Ram', 'AAaa', 'plumber'),
 (3333, 'John', 'Kuy', 'plumber'),
 (5555, 'Romaa', 'Das', 'plumber'),
 (6666, 'Christo', 'Pam', 'grasscutter')]

In [23]:
cursor.execute('select FIRST_NAME as WORKER_NAME from testpinks.worker')

In [24]:
cursor.fetchall()

[('Rajan',), ('Ram',), ('John',), ('Romaa',), ('Christo',)]

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Ans:

In [25]:
cursor.execute('SELECT DISTINCT DEPARTMENT from testpinks.worker')

In [26]:
cursor.fetchall()

[('grasscutter',), ('plumber',)]

Q-3. Write an SQL query to show the last 5 record from a table.

Ans:

In [27]:
cursor.execute('SELECT * from testpinks.worker ORDER BY emp_ID LIMIT 5')

In [28]:
cursor.fetchall()

[(1111, 'Rajan', 'Das', 'grasscutter'),
 (2222, 'Ram', 'AAaa', 'plumber'),
 (3333, 'John', 'Kuy', 'plumber'),
 (5555, 'Romaa', 'Das', 'plumber'),
 (6666, 'Christo', 'Pam', 'grasscutter')]